.env
praw.ini
__pycache__/
/.cache
calltimer/data.json
calltimer/leaderboard.json
/IMG_5400.jpg
/epiicideee.txt
/links.txt
/handig
/idee.txt
.idee.txt
noeps/
/laatsteleave
/joinsounds
/outro
/sonnet
/scores
# /test.py
/stonks/stonks.json
/TimeoutCommands/Timeouts.json